@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 0.5rem;
}

.home-screen {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.home-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.7;
}

.side-link {
  text-decoration: none;
  color: #cba0f9;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem;
  transition: 0.5s;
}

.side-link:hover {
  color: #6602c3;
}

.brand-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: #f2e7fe;
  padding: 0.5rem;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .side-link {
    font-size: 1rem;
  }
  .brand-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .side-link {
    font-size: 0.8rem;
  }
  .brand-name {
    font-size: 1.2rem;
  }
}
